.git
.github
.ruff_cache
__pycache__
*.pyc
.DS_Store
.env
*.env
.venv
venv
raw_data
assets/*.png
assets/*.jpg
assets/*.jpeg
assets/*.gif
assets/*.svg
assets/*.webp
assets/*.ico
göztepehub/assets/*.png
göztepehub/assets/*.jpg
göztepehub/assets/*.jpeg
göztepehub/assets/*.gif
göztepehub/assets/*.svg
göztepehub/assets/*.webp
göztepehub/assets/*.ico
utils/tactiq_xg_model.json
